.navbar.navbar-dark .navbar-nav .nav-link{
    color: white;
}
@media (max-width:991px) {
    .navbar.navbar-dark .navbar-nav .nav-link{
        color: black;
    }
}

/* Blog Inline STyles */
.keywords{
    display: none;
}

.gIframe{
    display: none;
    visibility: hidden;
}

#sidebarr{
    margin: 15px;
}